html,
body {
  padding: 0;
  margin: 0;
  background: #F3F3F3;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #F3F3F3;
  }
}

/* для иконок ховер */
.icon > path:hover {
    fill: #69CB2D;
    transition: .5s;
}

/* написать условие, если навели на название сменить цвет у иконки */
/* изучить работу с svg */
.icon__left_menu > path{
  fill: #ff0090;
}